#Java
*.class
*.jar
*.war
*.ear

#Maven
generated
generated-java
target
*.zip

#IDE
.project
.classpath
.settings
.factorypath
.apt_generated
.idea
*.iml
application.xml
MANIFEST.MF

#Miscellaneous
*.log
*.tmp
*.bak
/pom-debloated.xml
/FFDC/

#Angular
package-lock.json

#OpenShift/odo
.odo/
devfile.yaml

#Env script to set secrets and variables
#.env*
